body {
    padding-bottom: 0;
}

.full-view {
    text-align: center;
    
    &:after {
        content: "";
        vertical-align: middle; 
        display: inline-block;
        width: 1px;
        height: 100%;
    }
}

#l-login, #l-register, #l-forget-password {
	margin-top: 0px;
}


//Search input
.search-input {
    width: 100%;
    height: 40px;
    padding: 5px 50px 5px 10px;
    button {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border: none;
        font-size: 16pt;
    }
    input {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.focusable {
    cursor: pointer;
}

html {
    overflow-y: scroll;
}