<div class="container ng-scope">
	<div class="block-header">
		<h2>Téléchargement</h2>
	</div>
	<div class="row">
		<div class="col-sm-9">
			<div class="row">
			    <div class="col-md-6">
					<div class="card">
						<div class="card-header bgm-bluegray">
		                    <h2>Film</h2>

		                    <ul class="actions actions-alt">
		                        <li ng-if="!view.play">
		                            <a href="" ng-click="view.play = true">
		                                <i class="zmdi zmdi-pause"></i>
		                            </a>
		                        </li>
		                        <li ng-if="view.play">
		                            <a href="" ng-click="view.play = false">
		                                <i class="zmdi zmdi-play"></i>
		                            </a>
		                        </li>
		                        <li>
		                            <a href="" >
		                                <i class="zmdi zmdi-delete"></i>
		                            </a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="card-body">
							<div class="progress">
							    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							        <span class="sr-only">80% Complete (success)</span>
							    </div>
							</div>
					    </div>
						<div style="height: 150px; padding-left: 100px; position: relative">
							<img style="height: 150px; position: absolute; top: 0px; left: 0px;" src="https://image.tmdb.org/t/p/w185/5aGhaIHYuQbqlHWvWYqMCnj40y2.jpg">
							<div class="card-body card-padding" style="height: 100%; position: relative">
			                    <p class="m-b-5">The Martian (2015)</p> 
			                    <p class="m-b-5" style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">The.Martian.2015.MULTi.1080p.WEB-DL.H264-AMY -Zone-Telechargement.com.mkv</p>
			                    <div style="position: absolute; left: 25px;; bottom: 23px;">
						            <p class="m-b-5" style="display: inline-block">2.5 MB/s</p>
						        </div>
			                   <p class="m-b-5" style="position: absolute; right: 25px;; bottom: 23px;">3.8 GB/4.9 GB</p>
			                </div>
						</div>
					</div>
			    </div>
			    <div class="col-md-6">
					<div class="card">
						<div class="card-header bgm-bluegray">
		                    <h2>Série</h2>

		                    <ul class="actions actions-alt">
		                        <li>
		                            <a href="" >
		                                <i class="zmdi zmdi-delete"></i>
		                            </a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="card-body">
							<div class="progress">
							    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
							        <span class="sr-only">40% Complete (success)</span>
							    </div>
							</div>
					    </div>
						<div style="height: 150px; padding-left: 100px; position: relative">
							<img style="height: 150px; position: absolute; top: 0px; left: 0px;" src="https://image.tmdb.org/t/p/w185/jIhL6mlT7AblhbHJgEoiBIOUVl1.jpg">
							<div class="card-body card-padding" style="height: 100%; position: relative">
			                    <p class="m-b-5">Game of Thrones - Saison 1 Episode 5</p> 
			                    <p class="m-b-5" style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Game.of.Thrones.S01E05.MULTi.1080p.WEB-DL.H264-AMY -Zone-Telechargement.com.mkv</p>
			                    <div style="position: absolute; left: 25px;; bottom: 23px;">
				                    <div class="preloader pl-xs">
						                <svg class="pl-circular" style="bottom: -10px;" viewBox="25 25 50 50">
						                    <circle class="plc-path" cx="50" cy="50" r="20" style="stroke-width: 5;"></circle>
						                </svg>
						            </div>
						            <p class="m-b-5" style="display: inline-block">Récupération du torrent...</p>
						        </div>
			                   <p class="m-b-5" style="position: absolute; right: 25px;; bottom: 23px;">4.9 GB/4.9 GB</p>
			                </div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<div class="card-header ch-alt">
			    </div>
			</div>
		</div>
	</div>
	
</div>