<div class="card">
    <div class="card-body card-padding">
        <ul class="steps-material" data-steps="{{subview.steps.length}}">
            <li class="step" ng-class="step.state" ng-repeat="step in subview.steps track by $index" ng-click="subview.goTo($index + 1)">
                <div ng-if="step.state == 'done'" class="icon"><i class="zmdi zmdi-check"></i></div>
                <div ng-if="step.state != 'done'" class="icon"><span>{{$index+1}}</span></div>
                <span>{{step.name}}</span>
            </li>
        </ul>
    </div>
</div>

<!-- Choose Movie -->
<div ng-show="subview.steps[0].state == 'active'">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="card m-t-25">
                <div class="card-body">
                    <div class="search-input">
                        <input type="text" ng-model="subview.term" placeholder="Film" class="form-control" ng-change="subview.searchMovies(subview.term)">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="movie in subview.results.movies">
            <a href="" ng-click="subview.selectMovie(movie.id)">
                <div class="card">
                    <div class="fixed-ratio ratio3_4">
                        <div class="content">
                            <img ng-if="movie.poster_path" style="width: 100%" ng-src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}">
                            <img ng-if="!movie.poster_path" style="width: 100%" ng-src="assets/img/movie-default.jpg"/>
                        </div>
                    </div>
                    <div class="card-header bgm-bluegray">
                        <h2>{{movie.name}}<span ng-if="movie.year"> ({{movie.year}})</span></h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Downloads -->
<div ng-show="subview.steps[1].state == 'active'">
    <div class="row">
        <!-- Movie Infos -->
        <div class="col-sm-6">
            <div class="card">
                <div class="fixed-ratio ratio20_9">
                    <div class="content">
                        <img ng-if="subview.selected.movie.info.backdrop_path" style="width: 100%" ng-src="https://image.tmdb.org/t/p/w1000{{subview.selected.movie.info.backdrop_path}}">
                    </div>
                </div>
                <div class="card-header bgm-bluegray">
                    <h2>{{subview.selected.movie.info.original_title}}</h2>
                </div>
                <div class="card-body card-padding">
                    <p>{{subview.selected.movie.info.overview}}</p>
                </div>
            </div>
        </div>
        <!-- Download Options -->
        <div class="col-sm-6">
            <div class="card">
                <ul class="tab-nav tn-justified">
                    <li class="btn-wave" ng-class="{'active': subview.method == 'auto'}">
                        <a href="" ng-click="subview.method = 'auto'">Automatique</a>
                    </li>
                    <li class="btn-wave" ng-class="{'active': subview.method == 'direct'}">
                        <a href="" ng-click="subview.method = 'direct'">Direct</a>
                    </li>
                    <li class="btn-wave" ng-class="{'active': subview.method == 'torrent'}">
                        <a href="" ng-click="subview.method = 'torrent'">Torrent</a>
                    </li>
                </ul>
                <!-- Automatique -->
                <div ng-if="subview.method == 'auto'">
                    <div class="listview lv-bordered lv-lg">
                        <div class="lv-body lv-torrent">
                            <div class="lv-item" ng-repeat="torrent in subview.selected.movie.torrents">
                                <p class="truncate">{{torrent.name}}</p>
                                <ul class="lv-attrs">
                                    <li>{{torrent.size | bytes}}</li>
                                    <li ng-if="torrent.language">{{torrent.language}}</li>
                                    <li ng-if="torrent.quality">{{torrent.quality}}</li>
                                    <li ng-if="torrent.codec">{{torrent.codec}}</li>
                                    <li class="pull-right">{{torrent.seeders}} seeders</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Direct Download -->
                <div class="card-body card-padding" ng-if="subview.method == 'direct'">
                    <p class="f-500 c-black m-b-20">Coller votre lien direct.</p>
                    <div class="form-group fg-line">
                        <input type="text" class="form-control" placeholder="Lien direct" ng-model="subview.download.direct.link" ng-change="subview.checkLink()">
                    </div>
                    <p ng-if="subview.download.direct.data">{{subview.download.direct.data.filename}} - {{subview.download.direct.data.filesize | bytes}}</p>
                </div>
                <!-- Torrent file -->
                <div class="card-body card-padding" ng-if="subview.method == 'torrent'">
                    <p class="f-500 c-black m-b-20">Insérer votre fichier torrent.</p>
                    
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-primary btn-file m-r-10">
                            <span class="fileinput-new">Fichier torrent</span>
                            <span class="fileinput-exists">Changer</span>
                            <input type="file" name="...">
                        </span>
                        <span class="fileinput-filename truncate-span" style="max-width: 120px;"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>